/*

product-box : 상품 리스트 박스
products-list : 상품 리스트
minicart-list : 미니카트 리스트
pagination : 페이지네이션

*/
@import './mixin.scss';

.product-box {
    position: relative;
    img {
        width: 100%;
    }
    &:hover {
        .cover {
            &:after {
                content: '';
                width: 100%;
                height: 100%;
                position: absolute;
                top:0;left:0;
                background: rgba(0,0,0,0.4);
                
            }
        }
        .cart-btn {
            @include css3(opacity,1);
        }
    }
    .cart-btn {
        position: absolute;
        top: 10px;
        right: 27px;
        text-align: center;
        z-index: 1;
        cursor: pointer;
        @include css3(opacity,0);
        @include css3(transition, all 0.5s);
        span {
            line-height: 40px;
            display: inline-block;
            color:#fff;
            z-index: 1;
            &.add {
                font-size: 24px;
                z-index: 2;
            }
            /*&.subtract {
                @include css3(opacity,0);
            }*/
        }
    }
    .cover {
        position: relative;
        padding-bottom: 56%;
        overflow: hidden;
        border-radius: 5px;
        img {
            position: absolute;
            top:50%;
            left:50%;
            @include css3(transform, translate(-50%,-50%));
        }
    }
    .info {
        margin: 10px 0 0 0;
        p {
            padding-bottom: 10px;
            border-bottom: 1px solid #ddd;
            font-size: 14px;
            height: 50px;
            &.price {
                margin-top:5px;
                font-weight: bold;
                border:0;
            }
        }
    }
    &.selected {
        /*.cart-btn {
            .add {
                @include css3(opacity,0);
            }
            .subtract {
                @include css3(opacity,1);
                z-index: 2;
            }
        }*/

    }
}

.products-list {
    min-height: 570px;
    ul {
        display: flex;
        flex-wrap: wrap;
        li {
            position: relative;
            width: 25%;
            padding: 0 15px;
            margin-bottom: 20px;
            .link {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
        }
    }
}

.minicart-list {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    z-index: -1;
    @include css3(opacity,0);
    &.active {
        @include css3(opacity,1);
        z-index: 2;
        .minicart-content {
            right:0;
        }
    }
    .overlay {
        position: absolute;
        top:0;left:0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.4);
        z-index: 1;
    }
    .minicart-content {
        position: relative;
        right:-50%;
        height: 100%;
        display: inline-block;
        padding:10px;
        text-align: left;
        width: 400px;
        background: #fff;
        z-index: 2;
        @include css3(transition, all 0.5s);

        .minicart-box {
            position: relative;
            margin: 0 0 15px;
            overflow: hidden;
            .cover {
                position: relative;
                padding-bottom: 56%;
                img {
                    position: absolute;
                    width:100%;
                }
                &:after {
                    position: absolute;
                    top:0;left:0;
                    content: '';
                    display: inline-block;
                    width: 100%; height:100%;
                    background: rgba(0,0,0,0.5);
                }
            }
            .info {
                position: absolute;
                top:50%;left:50%;
                @include css3(transform, translate(-50%,-50%));
                p {
                    color:#fff; text-align: center;
                    &:first-child {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
    .btns {
        display: flex;
    }
    // 부트스트랩 관련 css 초기화
    .btn {
        margin : 0 0 10px;
    }
}

.pagination {
    .page-item  {
        margin-right: 5px;
        .page-link {
            box-sizing: border-box;
            &.active {
                background: $lightgray;
            }
        }
    }
}


